.App {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-areas:
    "header header header"
    "navbar profile profile";
  grid-template-rows: 50px 90%;
  grid-template-columns: 2fr 10fr;
}

#root {
  height: 100%;
}
#header {
  grid-area: header;
}

#navbar {
  grid-area: navbar;
}

.content {
  grid-area: profile;
}
